div {
    position: absolute;
}

#caja1 {
    z-index: 5;
    top: 1em;
    left: 8em;
    border:solid 1px black;
}

#caja2 {
    z-index: 15;
    top: 5em;
    left: 5em;
    border:solid 1px red;
}

#caja3 {
    z-index: 25;
    top: 2em;
    left: 2em;
    border:solid 1px yellowgreen;
}